* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
.container {
  width: 80%;
  margin: 0 auto;
}
body {
  background: #000;
  /* background: #050505ce; */
}
::-webkit-scrollbar {
  display: none;
}
@media (max-width: 1024px) {
  
}
